<html>
  <head>
    <title>Docs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body style="padding: 3%;">
    <header style="padding-top: 1%;">
      <div align="center">
        <h1>Docs</h1>
        <hr />
      </div>
    </header>
    <div style="padding-left: 1%;">
          This is an assignment submission that implements a simple RESTful API that demonstrates process scheduling algorithms (with pre-filled sample data) and runs them on docker and deploys to kubernetes (check repo for full information).
          <li><a href="/docs/bankers">Bankers</a></li>
          <li><a href="/docs/fcfs">FCFS</a></li>
          <li><a href="/docs/priority">Priority</a></li>
          <li><a href="/docs/roundrobin">Round Robin</a></li>
          <li><a href="/docs/srtn">SRTN</a></li>
          <li>
            <a href="/docs/dining-philosophers">Dining Philosopher's</a>
            <ul>
              <li>Takes 10 seconds to run, please be patient.</li>
            </ul>
          </li>
        </p>
    </div>
  </body>
</html>
